# Working with MySql and Python
 > Mysql connector with python provides a rich environment of the devlopment

In [1]:
import datetime
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np



To connect to the Mysql connection
'''python

'''

In [10]:
def runquery(query,database):
    cnx = mysql.connector.connect(user='root',password='Ravi@8603', database=database)
    cursor = cnx.cursor()
    #query = ("select * from student natural join department")
    cursor.execute(query)
    df=pd.DataFrame(cursor.fetchall())
    df.columns=cursor.column_names;
    #print(cursor.column_names)
    print(df.to_string())
    cursor.close()
    cnx.close()

In [8]:
query = ("select * from student natural join department")
runquery(query,"")

     dept_name     ID      name tot_cred building     budget
0      Biology  98988    Tanaka      120   Watson   90000.00
1   Comp. Sci.  00128     Zhang      102   Taylor  100000.00
2   Comp. Sci.  12345   Shankar       32   Taylor  100000.00
3   Comp. Sci.  54321  Williams       54   Taylor  100000.00
4   Comp. Sci.  76543     Brown       58   Taylor  100000.00
5   Elec. Eng.  76653       Aoi       60   Taylor   85000.00
6   Elec. Eng.  98765  Bourikas       98   Taylor   85000.00
7      Finance  23121    Chavez      110  Painter  120000.00
8      History  19991    Brandt       80  Painter   50000.00
9        Music  55739   Sanchez       38  Packard   80000.00
10     Physics  44553   Peltier       56   Watson   70000.00
11     Physics  45678      Levy       46   Watson   70000.00
12     Physics  70557      Snow        0   Watson   70000.00

In [9]:
query = ("select * from student natural join course")
runquery(query)

     dept_name     ID      name tot_cred course_id                       title credits
0   Comp. Sci.  00128     Zhang      102    CS-101  Intro. to Computer Science       4
1   Comp. Sci.  00128     Zhang      102    CS-190                 Game Design       4
2   Comp. Sci.  00128     Zhang      102    CS-315                    Robotics       3
3   Comp. Sci.  00128     Zhang      102    CS-319            Image Processing       3
4   Comp. Sci.  00128     Zhang      102    CS-347    Database System Concepts       3
5   Comp. Sci.  12345   Shankar       32    CS-101  Intro. to Computer Science       4
6   Comp. Sci.  12345   Shankar       32    CS-190                 Game Design       4
7   Comp. Sci.  12345   Shankar       32    CS-315                    Robotics       3
8   Comp. Sci.  12345   Shankar       32    CS-319            Image Processing       3
9   Comp. Sci.  12345   Shankar       32    CS-347    Database System Concepts       3
10     History  19991    Brandt       80   HIS-351               World History       3
11     Finance  23121    Chavez      110   FIN-201          Investment Banking       3
12     Physics  44553   Peltier       56   PHY-101         Physical Principles       4
13     Physics  45678      Levy       46   PHY-101         Physical Principles       4
14  Comp. Sci.  54321  Williams       54    CS-101  Intro. to Computer Science       4
15  Comp. Sci.  54321  Williams       54    CS-190                 Game Design       4
16  Comp. Sci.  54321  Williams       54    CS-315                    Robotics       3
17  Comp. Sci.  54321  Williams       54    CS-319            Image Processing       3
18  Comp. Sci.  54321  Williams       54    CS-347    Database System Concepts       3
19       Music  55739   Sanchez       38    MU-199      Music Video Production       3
20     Physics  70557      Snow        0   PHY-101         Physical Principles       4
21  Comp. Sci.  76543     Brown       58    CS-101  Intro. to Computer Science       4
22  Comp. Sci.  76543     Brown       58    CS-190                 Game Design       4
23  Comp. Sci.  76543     Brown       58    CS-315                    Robotics       3
24  Comp. Sci.  76543     Brown       58    CS-319            Image Processing       3
25  Comp. Sci.  76543     Brown       58    CS-347    Database System Concepts       3
26  Elec. Eng.  76653       Aoi       60    EE-181   Intro. to Digital Systems       3
27  Elec. Eng.  98765  Bourikas       98    EE-181   Intro. to Digital Systems       3
28     Biology  98988    Tanaka      120   BIO-101           Intro. to Biology       4
29     Biology  98988    Tanaka      120   BIO-301                    Genetics       4
30     Biology  98988    Tanaka      120   BIO-399       Computational Biology       3